.overflow-x-hidden{
    overflow-x: hidden;
}
.top-header{
    border-bottom: 2px solid #747704;
}

.profile-img{
    width:100px;
    height: 100px;
}

.big-img{
    width:1140px;
    height: 350px;
}
.norm-img{
    width:550px;
    height: 300px;
}